[submodule "cartographer"]
	path = cartographer
	url = git@github.com:alibenD/cartographer.git
[submodule "cartographer_ros"]
	path = cartographer_ros
	url = git@github.com:alibenD/cartographer_ros.git
